.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--dark);
    color: var(--light);
    border-radius: 8px;
    font-size: 14px;

    position: relative;
}

.card-bookmark-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.card-title {
    flex-wrap: wrap;
    margin: 0;
    width: 80%;
    font-weight: 300;
    font-size: 16px;
}

.card-answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0px;
    list-style: none;
}

.answer {
    text-align: center;
    margin: 0;
    background-color: rgb(30, 30, 30);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 8px black;
}

.card-answer-button {
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 4px;
    text-align: center;
    box-shadow: 0px 0px 8px black;
}

.correct-answer {
    display: none;
}